---
title: Página de inicio de AMP
parent: amp 
section: AMP
description: "Accelerated Mobile Pages (AMP) can be used with Brightcove Player. This page links to the two possibilities of using Brightcove Player, with a Video Cloud video or an external video."
---

<article class="landing-page-wrapper">
    <h1>{{ page.title }}</h1>
    <section class="landing-page-header" id="landing_page_header">
        <p>{{ page.description }}</p>
        <p>AMP es un marco HTML de código abierto que proporciona una forma sencilla de crear páginas web que son rápidas, se cargan sin problemas y dan prioridad a la experiencia del usuario. Para obtener más detalles, consulte el <a href="https://amp.dev/">Sitio de AMP</a>.</p>
    </section>
    <section class="card-wrapper">
        {% for item in site.data.navigation %} {% if item.name == page.section %}
        <section class="bcls-card">
            <div class="card-content">
                <h2 class="landing-page-item-header">{{ item.name }} Temas</h2>
                <ul class=" class="bcls-topic-list"">
                    {% for entry in item.docs %}
                    <li><a href="{{ entry.url }}">{{ entry.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        {% endif %} {% endfor %}
    </section>
</article>